h1{
	text-align: center;
	font-size: 48px;
	color: white;
}

.bbs{
margin: 0;
	background-image: url("bluegeo.jpg");
}
.db{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252cba;
    --color-erorr: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
	height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
	background-image: url("bluegeo.jpg");
}


title{
	padding:20px
}
body{
	margin:0;
}
nav{
	margin:0;
}
ul {
	list-style-type: none;
	padding: 5px;
	margin:0;
	background-color:#000a4d;
	text-align: center;
}
li{
	display: inline;
	font-style: 1.5em;
	font-family:'Spartan MB';
	line-height: 55px;
}
li a{
	text-decoration: none;
	color:lightgray;
	padding:20px 40px;
	margin-top: 20px;
}
li a:hover {
	background-color: #3037ff;
}



title{
    padding:20px
}

nav{
    margin:0;
}
ul {
    list-style-type: none;
    padding: 5px;
    margin:0;
    background-color:#000a4d;
    text-align: center;
}
li{
    display: inline;
    font-style: 1.5em;
    font-family:'Spartan MB';
    line-height: 55px;
}
li a{
    text-decoration: none;
    color:lightgray;
    padding:20px 40px;
    margin-top: 20px;
}
li a:hover {
    background-color: #3037ff;
}
